<div class="row text-white">
    <div class="col-12 col-md-4">
        <h4>RESERVAS ONLINE</h4>
        <hr>
        <h4>DESDE 560 €</h4>
        <hr>

        <form class="form">
            <div class="row g-4">
                <div class="col">
                    <label class="form-label">Entrada</label>
                    <input type="date" class="form-control">

                </div>
                <div class="col">
                    <label class="form-label">Salida</label>
                    <input type="date" class="form-control">
                </div>
            </div>

            <div class="row g-4 mt-2">
                <div class="col">
                    <label class="form-label">Adultos</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected># Adultos</option>
                        <option value="1">Uno</option>
                        <option value="2">Dos</option>
                        <option value="3">Tres</option>
                    </select>

                </div>
                <div class="col">
                    <label class="form-label">Adultos</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected># Niños</option>
                        <option value="1">Uno</option>
                        <option value="2">Dos</option>
                        <option value="3">Tres</option>
                    </select>
                </div>
            </div>
        </form>
        <button type="submit" class="btn btn-primary mt-4 w-100">Ver Precios</button>
    </div>
</div>